@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-2 {
    /* text-shadow: -1px -1px 0 var(--tw-shadow), 1px -1px 0 var(--tw-shadow), -1px 1px 0 var(--tw-shadow), 1px 1px 0 var(--tw-shadow); */
    -webkit-text-stroke: 2px var(--tw-shadow);
}
}

::-webkit-scrollbar {
  @apply w-2 h-1 bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-screaminGreen-3
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Italic.otf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}